.adminLogin {
    padding: 10rem;
    width: 40%;
    text-align: center;
    margin: auto;


    &__input {
        display: block;
        height: 2rem;
        width: 17.5rem;
        margin: auto auto 1rem auto;
        border-radius: 0.3rem;
        // letter-spacing: 0.1rem;
    }

    &__alert {
        color: $color-red;
        margin-bottom: 0.5rem;
    }
}