.bedroom {
    position: relative;
    width: 75%;
    float: right;
    margin: auto;

    @include respond(tab-land) {
        float: none;
    }
    
    &__details {
        background-color: $color-white;
        height: 95vh;
        margin: 12rem 0;
        
        & img {
            width: 50%;
            position: relative;
            top: 21vh;
            right: 3.5%;
                            
            @include respond(tab-land) {
                width: 80%;
                top: -5vh;
                left: 10%;
            }
        }

        &__text {
            width: 50%;
            float: right;
            padding: 5rem 1rem 3rem 2rem;

            @include respond(tab-land) {
                width: 90%;
                padding: 0 1rem 3rem 0;
                float: none;
            }
        }

        &__title {
            width: 50%;

            @include respond(tab-land) {
                width: 100%;
                font-size: 3.4rem;
            }

            @include respond(phone) {
                font-size: 2.4rem;
                line-height: 2.8rem;
            }
        }

        &__price {
            padding: 1rem 0;
            word-spacing: 0.3rem;

            @include respond(phone) {
                font-size: $default-font-size;
                padding-bottom: 1.2rem;
            }
        }

        &__assembly {
            width: 20rem;
            border-top: 1px solid $color-grey-light-2;
            border-bottom: 1px solid $color-grey-light-2;
            padding: 1rem;
            font-size: $font-size-small;

            @include respond(tab-land) {
                width: 15rem;
            }
        }
    }
    
    &__description {
        height: 100vh;
        overflow: hidden;

        & img {
            height: 70vh;
            width: 70%;
            float: right;
            z-index: 1;

            @include respond(tab-land) {
                height: 40vh;
                width: 100%;
                float: none;
            }

            @include respond(phone) {
                height: 25vh;
                width: 100%;
            }
        }

        &__title {
            position: relative;
            width: 40%;
            display: block;

            @include respond(tab-land) {
                width: 100%;
            }

            // @include respond(phone) {

            // }
            
            &-span {
                background-image: linear-gradient(
                    to right,
                    rgba($color-white, 1),
                    rgba($color-grey-light-1, 1)
                );
                position: absolute;
                padding: 0.5rem 2rem 1.5rem 0;

                @include respond(tab-land) {
                    font-size: 3rem;
                    background-image: none;
                    padding: 0;
                }

                @include respond(phone) {
                    font-size: 2.3rem;
                    line-height: 3rem;
                }
            }
        }

        &__paragraph {
            width: 25%;
            font-size: 0.85rem;
            margin-top: 23rem;

            @include respond(tab-land) {
                width: 80%;
                font-size: 1.2rem;
                margin-top: 15rem;
            }

            @include respond(phone) {
                font-size: 1.1rem;
                line-height: 1.5rem;
            }
        }
    }

    &__related {
        height: 100vh;
    }
}