.sidebar {
    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: $color-black;
        font-weight: 600;
        font-family: "Trebuchet MS";
        font-size: $font-size-small;
    }

    &__link:hover {
        color: $color-primary;
        transition: all 0.2s;
    }
}

.active {
    color: $color-primary;
}