*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    rgba($color-white, 0.8),
    rgba($color-grey-light-1, 0.8)
  );
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}